input,
button {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

button {
  height: 28px;
}

.colors {
  display: grid;
  grid-auto-flow: column;
  column-gap: 8px;
  padding: 8px;
  grid-auto-columns: minmax(max-content, 1fr);
}

.swatch {
  transition: color 70ms;
  height: 30px;
  width: 30px;
  border: 1px solid white;
  border-radius: 4px;
}

.color-entry {
  display: grid;
  row-gap: 10px;
  width: 70px;
}

.color-entry input {
  width: 100%;
}
