button {
  height: 28px;
  white-space: nowrap;
  border-radius: 4px;
}

.app {
  padding: 8px 32px;
  display: grid;
  column-gap: 32px;
  row-gap: 16px;
  grid-template:
    '.                title' auto
    'add-color-button colors' min-content
    'bulk-edit        colors' auto
    '.                colors' auto
    / min-content 1fr;
}

h1 {
  grid-area: title;
  margin: 0;
  height: 40px;
  display: flex;
  align-items: flex-end;
}

.colors {
  display: grid;
  grid-gap: 8px;
  grid-area: colors;
  grid-auto-rows: min-content;
}

.add-button {
  grid-area: add-color-button;
}

.overwrite-button {
  background-color: #f0f000;
}

.bulk-edit {
  grid-area: bulk-edit;
  display: grid;
  grid-gap: 8px;
  flex-direction: column;
  grid-auto-rows: auto;
}

.bulk-edit textarea {
  height: 300px;
  width: 100%;
}

.bulk-edit-buttons {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 8px;
}

.contrast-display {
  display: grid;
  justify-items: center;
  grid-auto-rows: min-content;
  row-gap: 4px;
}

.colors > * {
  justify-self: center;
  height: 80px;
  width: 80px;
}

.swatch {
  transition: color 70ms;
  height: 30px;
  width: 30px;
  border: 1px solid white;
  border-radius: 4px;
}

.swatch.removable {
  cursor: pointer;
  position: relative;
}
.swatch.removable::after {
  content: '\1F5D1';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 70ms;
}

.swatch.removable:hover::after {
  opacity: 1;
}

.color-entry {
  display: grid;
  row-gap: 10px;
  width: 80px;
  justify-items: center;
}

.color-entry input {
  width: 100%;
}

.light-column {
  box-shadow: inset -1px 1px 0 0px black;
}

.light-row {
  box-shadow: inset 1px -1px 0 0px black;
}

.light-both {
  box-shadow: inset 0 0 0 1px black;
}
