input,
button {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

button {
  height: 28px;
}

.app {
  padding: 8px 32px;
  display: grid;
  grid-gap: 16px;
  grid-template:
    'title title title' auto
    'colors add-color-button .' auto
    'colors . .' min-content / 1fr 120px 1fr;
}

h1 {
  grid-area: title;
}

.colors {
  display: grid;
  grid-gap: 8px;
  grid-area: colors;
}

.add-button {
  border-radius: 4px;
  grid-area: add-color-button;
}

.contrast-display {
  display: grid;
  grid-auto-rows: min-content;
  justify-items: center;
}

.colors > * {
  justify-self: center;
}

.swatch {
  transition: color 70ms;
  height: 30px;
  width: 30px;
  border: 1px solid white;
  border-radius: 4px;
}

.color-entry {
  display: grid;
  row-gap: 10px;
  width: 80px;
  justify-items: center;
}

.color-entry input {
  width: 100%;
}
